	<div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/public/styles/images/image.jpg">
          <span class="card-title">Monster Name</span>
        </div>
        <div class="card-content">
          <p>Stats</p>
        </div>
        <div class="card-action">
          <button>Attack</button>
        </div>
      </div>
    </div>
	</div>

	<img src="">
	
	<div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/public/styles/images/Monster1.jpg">
          <h1 class="card-title">Monster Name</h1>
        </div>
        <div class="card-content">
          <p>Stats</p>
        </div>
        <div class="card-action">
          <button>Attack</button>
        </div>
      </div>
    </div>
	</div>