<button class='right btn grey darken-1'><a class='white-text' href="/logout">Logout</a></button>

<div class="container content">
	<div class="row">

		<div class="col s4">
			<div class="card medium">
				<div class="card-image">
					<img id='charImage' src="/images/image.jpg">
					<span class="card-title" id='character'></span>
				</div>
				<div class="card-content">
					<p>Life Points: <span id='characterLife'></span></p>
					<p>Hits: <span id='charHits'></span></p>
					<p>Misses: <span id='charMisses'></span></p>

				</div>
			</div>
		</div>

		<div class="col s4">
			<h1 class="center">Result</h1>
			<h6 class='center result'></h6>
			<br>
			<div class="center">
				<button class='btn grey darken-1' id='attackBtn'>Attack</button>
			</div>
		</div>

		<div class="col s4">
			<div class="card medium">
				<div class="card-image">
					<img id='monstImage' src="/images/Monster1.png">
					<span class="card-title" id="monster"></span>
				</div>
				<div class="card-content">
					<p>Life Points: <span id='monsterLife'></span></p>
					<p>Hits: <span id='monstHits'></span></p>
					<p>Misses: <span id='monstMisses'></span></p>
				</div>
			</div>
		</div>

	</div>

</div>