<button class='right btn grey darken-1'><a class='white-text' href="/logout">Logout</a></button>

<div class="container" id="fightBox">
	<div class="row">
		<div class="col s4">
			<div class="card medium">
				<div class="card-image" id="monsterImage">
					<img id='charImage' src='#' <span class="card-title" id='character'></span>
				</div>
				<div class="card-content">
					<p>Life Points: <span id='characterLife'></span></p>
				</div>
			</div>
		</div>
		<div class="col s4">
			<img src="/images/arrow-2085195_1280.png" height="250px" width="250px" id="arrowImage">
			<br>
			<h6 class='center result'></h6>
			<br>
			<div class="center">
				<button class='btn grey darken-1' id='attackBtn'>Attack</button>
			</div>
		</div>

		<div class="col s4">
			<div class="card medium">
				<div class="card-image">
					<img id='monstImage' src="styles/images/Monster1.png">
					<span class="card-title" id="monster"></span>
				</div>
				<div class="card-content">
					<p>Life Points: <span id='monsterLife'></span></p>
					
				</div>
			</div>
		</div>
</div>