<div class="container" id="fightBox">
<div class="row">
				<div class="col s4 m4">
					<div class="card">
						<div class="card-image" id="monsterImage">
							<img src="/images/monster2.jpg">
							<span class="card-title">Monster Name</span>
						</div>
						<div class="card-content">
							<p>Attack Power: 1000</p>
						</div>
					</div>
				</div>
		<div class="col s4 m4">
			<img src="/images/arrow-2085195_1280.png" height="250px" width="250px" id="arrowImage">
		</div>
		
					<div class="col s4 m4">
						<div class="card">
							<div class="card-image" id="monsterImage">
								<img src="/images/monster2.jpg">
								<span class="card-title">Monster Name</span>
							</div>
							<div class="card-content">
								<p>Attack Power: 500</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="bottomButton">
			<div class="col s5 m5"></div>
			<div class="col s2 m2">
				<a class="waves-effect waves-light btn-large large blue-grey darken-4" id="fightButton">ATTACK</a>
			</div>
			<div class="col s5 m5"></div>
		</div>
		</div>
	