<div class="row">
	<a class='right btn grey darken-1 white-text' href="/logout">Logout</a></button>

	<div class="container" id="fightBox">
		<div class="row">
			<div class="col m4">
				<div class="card small">
					<div class="card-image">
						<img id='charImage' src='#'>
					<span class="card-title" id="character"></span>
					</div>
					<div class="card-content">
						<h5>Life Points: <span id='characterLife'></span></h5>
					</div>
				</div>
			</div>

			<div class="col s4">
				<img src="/images/arrow-2085195_1280.png" height="100%" width="100%" id="arrowImage">
				<br>
				<h6 class='center result'></h6>
				<br>
				<div class="center">
					<button class='btn grey darken-1' id='attackBtn'>Attack</button>
					<br><br>
					<a class='btn grey darken-1 white-text hiddenBtn' href="/map">Next Round</a>
					<br><br>
					<a class='btn grey darken-1 white-text hiddenBtn' href="/character">Pick New Character</a>
					<br><br>
					<a class='btn grey darken-1 white-text hiddenBtn' href="/logout">Exit</a>
				</div>
			</div>

			<div class="col m4">
				<div class="card small">
					<div class="card-image">
						<img id='monstImage' src="">
						<span class="card-title" id="monster"></span>
					</div>
					<div class="card-content">
						<h5>Life Points: <span id='monsterLife'></span></h5>
					</div>
				</div>
			</div>
		</div>