<h1>YOU</h1>
<h4 class='character'></h4>
<h6 class='characterLife'></h6>
<h6 class='characterAttack'></h6>

<h1>YOUR MONSTER</h1>
<h4 class='monster'></h4>
<h6 class='monsterLife'></h6>
<h6 class='monsterAttack'></h6>

<button id='attackBtn'>Attack</button>

<h1>Result</h1>
<h6 class='result'></h6>