<div class='container'>
	<form>
		<div class='left card large blue-grey darken-4 left'>
			<div class="card-content white-text">
				<span class="card-title large white-text">
					<h1>Pocket Monsters</h1>
					</span>
				<p class="white-text">
					<h4>Description:</h4>
					<h6>
					1) Register to create a new account, if you've already registered then log in.
					<br>
					<br>
					2) Select the character you want depending on the skill set.
					<br>
					<br>
					3) Click around on the map screen to fight different monsters.
					<br>
					<br>
					4) Go up levels every time you defeat a monster.
					<br>
					<br>
					5) Win the game by defeating all monsters on the map.
					</h6>
				</p>
			</div>
			<div class='card-action'>
				<button data-target='loginModal' class='btn modal-trigger white green-text'>Login</button>
			</div>
		</div>
	</form>
</div>

<!-- LOGIN MODAL -->
{{> modal/login}}
