<div class='container'>
	<div class="row">
		<div class="col s12">
	<form>
		<div class='card large blue-grey darken-4'>
			<div class="card-content white-text">
				<span class="card-title large white-text">
					<h1>Pocket Monsters</h1>
					</span>
			
				<p class="white-text">
					<h4>DEFEAT MONSTERS THAT HAVE TAKEN OVER THE UNITED STATES!!!</h4>
				</p>
				<br>
			</div>
			<div class='card-action center'>
				<button data-target='loginModal' class='btn modal-trigger white blue-text' class='btn grey darken-1'>Login</button>
			</div>
		</div>
	</form>
	</div>
	</div>
</div>


<!-- LOGIN MODAL -->
{{> modal/login}}
