<div class='container'>
	<form>
		<div class='card large green darken-3'>
			<div class='card-content white-text'>
				<span class='card-title'>Utah Pocket Monsters</span>
				<p>Description of the game</p>
			</div>
			<div class='card-action'>
				<button data-target='loginModal' class='btn modal-trigger white green-text'>Login</button>
			</div>
		</div>
	</form>
</div>

<!-- LOGIN MODAL -->
{{> modal/login}}