<div class='container loginBox'>
	<div class="row">
		<div class="col s12">
			<form>
				<div class='card large blue-grey darken-4'>
					<div class="card-content white-text">
						<span class="card-title large white-text center">
							<h1>Pocket Monsters</h1>
						</span>
						<h5 class="white-text center">DEFEAT MONSTERS THAT HAVE TAKEN OVER THE UNITED STATES!!!</h5>
						<br>
						<div class="center">
						<img src="/images/beast3.jpeg" alt="Hunter">
						</div>
					</div>
					<div class='card-action center'>
						<button data-target='loginModal' class='btn modal-trigger white blue-text' class='btn grey darken-1'>Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- LOGIN MODAL -->
{{> modal/login}}