{{!-- Background Image --}}
<div class="bg">

	<div class="container">

		<div class="row">

			<div class="col 12l">

				<h1 class="title">The Map</h1>


				<iframe class="mapImage" src="https://createaclickablemap.com/map.php?&id=76311&maplocation=false&online=true" width="900" height="525"
				 style="border: none;"></iframe>

				<script>if (window.addEventListener) { window.addEventListener("message", function (event) { if (event.data.length >= 22) { if (event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent) { window.attachEvent("message", function (event) { if (event.data.length >= 22) { if (event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>

			</div>

		</div>


	</div>


</div>