<div class='modal' id='newCharacter'>
	<form>
		<div class='modal-content'>
			<a class='modal-close right orange-text'><i class='material-icons small'>close</i></a>
			<div class='container'>
				<div class="container">
					<h5>{{msg}} {{reqUser}}! </h5>
					<p>Would you like to pick a new character?</p>
					<button type="submit" class='btn orange' id='keepCharacter'>No, Keep My Character</button>
					<button type="submit" class='btn orange' id='createCharacter'>Create A New Character</button>
				</div>
				</div>
			<div class='modal-footer'>
			</div>
	</form>
</div>