<!-- LOGIN MODAL -->
<div class='modal' id='loginModal'>
	<form action="/login" method="post">
	<div class='modal-content'>
			<a class='modal-close right blue-text'><i class='material-icons small'>close</i></a>
			<h4>Welcome!</h4>
			<p>Login Using Google+</p>
			<a class="btn-floating btn-large waves-effect waves-light blue" href="/auth/google"><i class="material-icons">G</i></a>
			<p>Login with Username</p>
			<input type='text' name='username' class='form-control' placeholder='Your Username'>
			<input type='email' name='email' class='form-control' id='email' placeholder='Enter Email'>
			<input type='password' name='password' class='form-control' placeholder='Password'>
		</div>
		<div class='modal-footer'>
			<button type="submit" class='modal-close btn modal-trigger white blue-text'>Submit</button>
		</div>
</form>
	</div>
<!-- LOGIN MODAL- END -->