
body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: url("/images/fantasy-2847724_1920.jpg");
}

.loginBox{
	margin-top: 50px;
}

.hiddenBtn {
	display: none;
}

.result{
	font-size: 24px;
	font-weight: bold;
	color: white ;
}

#monsterImage {
	height: 100%;
	width: 100%;
}

.content {
	margin: 0 auto;
}

#fightBox{
	margin-top: 100px;
}
#fightButton {
	margin-left: 15px;
	margin-top: 100px;
}

/* ////////////////MAP CSS START////////////////// */

/* for the background image of the map screen */
body, html {
	height: 100%;
}
/* for the title of the map screen */
.title {
	text-align: center;
	font-weight: bold;
}

.bg { 
	/* The image used */
	background: url("/images/destroyed-city.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	/* Full height */
	height: 100%; 
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* /////////////////END MAP CSS///////////////// */

@media only screen and (max-width: 1100px) {
	
	.mapImage {
		height: 600px;
		width: 600px;
	}
}

@media only screen and (max-width: 700px) {
	
	.mapImage {
		height: 300px;
		width: 300px;
	}
}
