.list-group-item {
	line-height: 2.5;
}

body {
	background-image: url("/images/fantasy-2847724_1920.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.card-image {
	height: 200px;
	width: 100%;
	background-color: slategrey
}

.content {
	margin: 0 auto;
}



/* for the title of the map screen */
.title {
	text-align: center;
	font-weight: bold;
	
}

/* for the background image of the map screen */
body, html {
	height: 100%;
}

.bg { 
	/* The image used */
	background-image: url("./images/destroyed-city.jpg");

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}